.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
.material-icons {
    vertical-align: middle !important;
    padding-bottom: 3px;
}

.example-full-width {
    width: 100%;
}
.ng-invalid:not(form) {
    border-left: 0px !important;
}
.ng-valid[required], .ng-valid.required {
    border-left: 0px !important;
}
:host >>> .card-header-center-text > div {
    width: 100%;
    text-align: center;
}
